Binaries
DerivedDataCache
Intermediate
Saved 
Build
Plugins/Developer
Content/Asset
Content/Audio/Sounds
Content/LowPolyFPS2
Content/Characters/Heroes/Mannequin/Animations/Locomotion/SwordShield
Content/Characters/Heroes/Mannequin/Animations/Locomotion/GreatSworld

.vscode
.vs
.idea
*.Vc.db 
*.opensdf
*.opend
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspaceI
*.vsconfig